<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Demo-crud</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
	<div class="container mt-4">
		<a th:href="@{/new}" class="btn btn-primary">New person</a>
		<table class="table">
			<thead>
			<tr>
				<th>ID</th>
				<th>NAME</th>
				<th>PHONE</th>
				<th>ACTIONS</th>
			</tr>
			</thead>
			<tbody>
				<tr th:each="persona:${persona}">
					<td th:text=${persona.id}></td>
					<td th:text=${persona.name}></td>
					<td th:text=${persona.phone}></td>
					<td>
						<a th:href="@{/update/}+${persona.id}" class="btn btn-warning">Edit</a>
						<a th:href="@{/delete/}+${persona.id}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
		
			</tbody>
		</table>
	
	</div>
</body>
</html>